/* reusable */
body{
    font-family: 'Roboto', sans-serif ;
}
.mb_b{
    margin-bottom: 5px solid blue;
}

.container-fluid{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.monthly_pic{
    width:100%;
    display:none;
}

.text_yellow{
    color: #f2f7b5;
}

.text_blue{
    color:blue;
}

* a{
    color: black;
}

/* header */

.h_40{
    height: 40px;
    background-color: black;  
}

#header_black_logo{
    width: 80px;
}

.lens{
    height: 30px;
}

.navbar-custom {
    height: 70px;
}

#nav_logo{
    height: 50px;
    width: 50px;
}

#navbarSupportedContent ul a{
    font-size: 0.8rem;
    font-weight: 600;
}

#navbarSupportedContent ul a:hover{
    color:#054074;
}

#navbarSupportedContent img.chevr_nav{
    width: 10px;
}

#navbarSupportedContent img.chevr_nav.blue,
#navbarSupportedContent ul a:hover img.chevr_nav.grey
{
    display: none;
}

#navbarSupportedContent ul a:hover img.chevr_nav.blue{
    display: inline;
    transform: rotate(180deg);
}

.dropdown-menu {
    color: #054074;
}

.actions .lens:hover{
    background-color: #2a567c;
    padding: 5px;
    border-radius: 50%;
}

/* main */

/* reusable */
.game{
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; 
}


/* section first_game */

#first_game{
    background-image: url("../imgs/img/jumbo-bg.png");   
}

.ret_banner{
    width: 100%;
}

/* section ads_cards */

#ads_cards img{
    width: 100%;
    border-radius: 15px;
}

#ads_cards img:hover{
    width:calc(100% + 5px);
    cursor: pointer;
    box-shadow: 3px 5px #88888894;
}

#ads_cards .container .row div:first-child img{
    border: 2px solid blue;
    padding: 2px;
    border-radius: 15px;
}

/* section hardware */

#hardware img:first-child{
    width: 100%;
}


#gadgets div:not(.active) > img {
    opacity: 0.3;
}

#gadgets  img:hover {
    cursor: pointer;
}


/* section second game */
#second_game{
    background-image: url("../imgs/img/it-takes-two-hero-banner-desktop.jpg");
}

#second_game img:first-child{
    width:100%;
}


/* section new_releases */
#new_releases{
    width: 100%;
    background-color: black;
}

#new_releases * img{
    width: 100%;
    border-radius: 10px;
}

/* section play_old */

#play_old .btn{
    width: 120px;
}

/* section play_plus & play_now & sales*/
#play_plus{
    background-color: rgb(188, 183, 183);
}

#play_plus * img,
#play_now * img,
#sales * img,
#social * img
{
    width: 100%;
}

/* section play_now */

#play_now{
    background-color: #161C3B;
}

/* footer */
footer{
    background-color: #00439C;
}

footer * a {
    color: white;
}

footer * a:hover {
    color: rgb(212, 211, 211);
}

footer .footer_logo{
    background-color: #00439C;
}

footer .footer_logo img[alt="globe"]{
    width: 15px;
}

footer #sie{
    width: 120px;
}

