.bcc_wrapper{
    width:100%;
    height: 400px;
    background-color: slategray;
}
  
/* debuggs */

.h_90{
    height:90px;
    background-color: whitesmoke;
    
}

.bcc1{
    background-color: blue;
}

.bcc2{
    background-color: violet;
}
.bcc3{
    background-color: yellow;
}

.h_150{
    height: 150px;
    background-color: aqua;
}

.h_200{
    height:200px;
    background-color: blueviolet;
}

.h_400{
    height:400px;
    background-color: coral;
}

.box{
    height: 150px;
    width:100%;
    border: 1px solid black;
}
.my_btn{
    height: 20px;
    width:100%;
    border: 1px solid black;
}

